[submodule "openmotion_led_hat_control"]
	path = openmotion_led_hat_control
	url = https://github.com/NathanRignall/openmotion_led_hat_control
[submodule "openmotion_network"]
	path = openmotion_network
	url = https://github.com/NathanRignall/openmotion_network
[submodule "openmotion_libcamera"]
	path = openmotion_libcamera
	url = https://github.com/NathanRignall/openmotion_libcamera
